*{
    margin: 0; padding: 0;
}
html{
    padding: 0;
    overflow: hidden;
}
html, body{
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
#full-container{

	position: relative;
    
}
footer{
    position: relative;
    top: 30vh;
}


.shape-blob {
	background:#4285F4;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.8;
	position: absolute;
	left: 70%;
	top: 50%;
    z-index: -1;
    overflow: hidden;
    
}
.shape-blob.one{
    background: #DB4437;
	height: 400px;
	width: 400px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two{
    background: #F4B400;
	height: 350px;
	width: 350px;
	left: 500px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.three{
    background: #0F9D58;
	height: 200px;
	width: 250px;
	left: 120px;
	top: 430px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}



.toggle{
    width: 2.6rem; height: 2.6rem;
    border-radius: 10rem;
    position: relative;
    margin-left: 95vw;
    margin-top: 1.3rem;
    
}
#dark{
    background-color: white;
    display: none;
}
.toggle:hover{
cursor: pointer;
transform: scale(1.1);
}

@media (max-width : 1124px){
    .shape-blob {
        
        height: 120px;
        width: 120px;
    }
    .shape-blob.one{
        height: 220px;
        width: 220px;
        left: -2px;
        top: -8px;
        transform: rotate(-180deg);
        animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
    }
    
    .shape-blob.two{
        height: 150px;
        width: 150px;
        left: 800px;
        top: -10px;
    }
    
    .shape-blob.three{
        height: 200px;
        width: 250px;
        left: 120px;
        top: 430px;
    }
    .toggle{
        
        margin-left: 92vw;
        
        
    }
}
@media (max-width : 1020px){
    .shape-blob.two{
        height: 150px;
        width: 150px;
        left: 580px;
        top: 0px;
    }
    .toggle{
        margin-left: 88vw;
    }
}

@media (max-width : 768px){
    #header{
        margin-top: 130px;
    }
   
   
}
@media (max-width : 839px){

    .shape-blob.two{
        display: none;
    }
    @keyframes movement_one
    {
        0%,
      100% { transform: none; }
       50% { transform: translate(20%, 5%) rotateY(10deg) scale(1.03); }
    }
    
    @keyframes movement_two
    {
        0%,
      500% { transform: none; }
       50% { transform: translate(20%, 5%) rotate(-200deg) scale(1.03);}
    }
}
@media (max-width : 630px){
    .shape-blob {
        height: 120px;
        width: 120px;

    }
    .shape-blob.one{
        height: 180px;
        width: 180px;
        left: 18px;
        top: 16px;
    }
    
    .shape-blob.two{
        height: 150px;
        width: 150px;
        left: 600px;
        top: -70px;
    }
    
    .shape-blob.three{
        height: 120px;
        width: 150px;
        left: 50px;
        top: 380px;
    }

}
@media (max-width : 540px){
    @keyframes movement_one
    {
        0%,
      100% { transform: none; }
       50% { transform: translate(10%, 2%) rotateY(10deg) scale(1.02); }
    }
    
    @keyframes movement_two
    {
        0%,
      500% { transform: none; }
       50% { transform: translate(10%, 2%) rotate(-170deg) scale(1.02);}
}

}
@media (max-width : 422px){
    .shape-blob {
        height: 100px;
        width: 100px;
    }
    .shape-blob.one{
        height: 130px;
        width: 130px;
        left: 40px;
        top: 16px;
    }
    
    .shape-blob.three{
        height: 150px;
        width: 150px;
        left: 20px;
        top: 320px;
    }
}
@media (max-width : 375px){

    .shape-blob.one{
        height: 130px;
        width: 130px;
        left: 20px;
        top: 16px;
    }
    .shape-blob{
        left: 200px;
    }
    .toggle{
        margin-left: 80vw;
    }
    @keyframes movement_one
    {
        0%,
      100% { transform: none; }
       50% { transform: translate(5%, 0%) rotateY(10deg) scale(1.02); }
    }
    
    @keyframes movement_two
    {
        0%,
      500% { transform: none; }
       50% { transform: translate(5%, 0%) rotate(-170deg) scale(1.02);}
}
}
@media (max-width : 375px){


    .shape-blob{
        left: 180px;
    }
    .toggle{
        margin-left: 80vw;
    }

}
