*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans';
}
body{
    
    background: #0e0c0c49;
  
}
.container{
    width: 350px;
    height: 400px;
    background: #0c0b0bc7;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
  
}

.todoList{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background: #ffffff;
    padding: 5px;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  box-shadow: 5px 5px rgb(0, 0, 1, 0.5);
  font-weight: bold;
  flex-wrap: wrap;
  width: 325px;
  
}
.deleteTask{
    cursor: pointer;
 width: 25px;
 height: 25px;
    text-align: center;
    border-radius: 50%;
    background: orangered;
    color: #ffffff;
    outline: none;
    align-items: center;
  margin: 0;
  padding: 0;
}
.pText{
    background: #ffffff;
    text-transform: capitalize;
   
}
.inputvalue{
   
    display: flex;
    margin: 5px;
    margin-bottom: 60px;
}
.inputVal{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    
    border: 2px solid rgb(69, 5, 187);
  
}
.btn{
    width: 100px;
    background: #8cb3ee;
    font-weight: bold;
    outline-style: none;
    border-radius: 5px;
    ;
    
}
.clearTask{
    display: block;
    position: absolute;
   bottom: 5px;
   left: 15%;
   background: #8cb3ee;
   width: 250px;
   height: 35px;
   border-radius: 5px;
   text-transform: capitalize;
   font-weight: bold;
   cursor: pointer;
   outline-style: none;
}